.Register {
    height: 100%;
    width: 100%;   
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
}

.Light form.registerForm > .logo { 
    content:url("../../assets/logo-light.svg");
}

.Light form.registerForm {
    background-color: rgb(var(--white));   
}