.Light .Toast span{
    color: rgb(var(--dark-grey));
    border-bottom: 1px solid rgb(var(--light-lines));

} 

.Light .Toast p {
    color: rgb(var(--black));
} 

.Light .Toast span button {
    background-color: white;
    color: rgb(var(--dark-grey));
}