.Login {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    display: grid;
    place-items: center;
}

form.loginForm {
    height: 44.4166666667rem;
    width: 60.8333333333ch;

    padding: 1.6666666667rem;

    box-sizing: border-box;
    border-radius: 7px;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  
    box-shadow: 0px 6px 4px rgba(54, 78, 126, 0.25);
}

form.loginForm > .logo {
    height: 2.5rem;
    width: auto;
  }
  
  form.loginForm > svg.cover {
    height: 15.1666666667rem;
    width: auto;
  }
  
  form.loginForm > a {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: 0px;
    text-decoration: none;
  }